@charset "UTF-8";
// /* sass变量*/
$icolor: #4864ff;
$icolor2: #ffb400;
$icolor3: #ff3e3e;
$header-wrap-height: auto;
$logo-width: auto;
$logo-height: auto;
$footer-fixed-height: 110rpx;
$footer-bottom-height:auto;
$search-btn-width: auto;
$search-btn-height: auto;